In [56]:
#https://www.kaggle.com/datasets/saurabhbagchi/books-dataset?select=books_data

import pandas as pd

books = pd.read_csv("books.csv", encoding="latin1", quotechar='"', on_bad_lines="skip", low_memory=False)

books = books.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'Publisher'])

books.rename(columns={'ISBN': 'isbn', 'Book-Title' : 'title', 'Book-Author' : 'author', 'Year-Of-Publication' : 'pub_year'}, inplace=True)

In [57]:
books

,isbn,title,author,pub_year
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision in Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999
...,...,...,...,...
271259,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988
271260,0525447644,From One to One Hundred,Teri Sloat,1991
271261,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004
271262,0192126040,Republic (World's Classics),Plato,1996
271263,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(books["title"])

In [59]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = books.iloc[indices][::-1]
    return results

In [ ]:
import ipywidgets as widgets
from IPython.display import display

book_input = widgets.Text(
    value="Goat Brothers",
    description="Book Title",
    disabled=False
)
book_list = widgets.Output()

def on_type(data):
    with book_list:
        book_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

book_input.observe(on_type, names='value')

display(book_input, book_list)

Text(value='Goat Brothers', description='Book Title')

Output()

In [61]:
ratings = pd.read_csv("ratings.csv", encoding="latin1", quotechar='"', on_bad_lines="skip", low_memory=False)

ratings.rename(columns={'User-ID' : 'userId', 'ISBN' : 'isbn', 'Book-Rating' : 'rating'}, inplace=True)

In [77]:
isbn = "0553571338"

In [78]:
similar_readers = ratings[(ratings["isbn"] == isbn) & (ratings["rating"] >= 1)]["userId"].unique()

In [79]:
similar_readers

array([  7841,  11676,  27769,  64185,  74026, 151702, 203240, 264688])